$primary-color: #D90368;
$darkest-color: #323232;
$dark-color: #525252;
$background-color: #000;
$light-color: #fff;
$lighter-color: transparentize($light-color, 0.3);

@mixin inverse() {
  background-color: $background-color;
  color: $lighter-color;

  a {
    color: $lighter-color;
    text-decoration: underline;

    &:hover {
      color: $light-color;
      text-decoration: none;
    }
    &:visited {
      color: $lighter-color;
    }
  }
}