header {
  @include inverse();
  background-color: transparent;
  overflow: auto;
  position: relative;
  z-index: 2;
  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    > a {
      display: block;
      background: transparent url('/img/deftia-logo-@2X.png') no-repeat;
      background-size: 141px 38px;
      height: 38px;
      width: 141px;
      text-indent: -9999px;
    }
  }
}
