<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} | Deftia</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300,400italic' rel='stylesheet'
          type='text/css'>
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body class="secondary-layout">
<div id="particles-js">
    <header id="top">
        <div class="container">
            <h1 class="logo logo--secondary"><a href="/">Deftia Consulting</a></h1>
            <nav>
                <a href="/#top">Home</a>
                <a href="/#services">Services</a>
                <a href="/#contact">Contact Us</a>
            </nav>
        </div>
    </header>
</div>
<main>
{{ content }}
</main>
<footer>
    <p>&copy; 2015 Deftia Consulting. All Rights Reserved.</p>
</footer>
</body>
</html>
